<header id="detail-hero">
</header>

<section id="agent">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box">
          <div class="row">
            <div class="col-lg-5">
              <img src="https://source.unsplash.com/mW3I5zmyaUc/250x250" class="img-fluid">
              <div class="mt-3">
                <h3>{{agent?.name}} {{agent?.surname}}</h3>
                <h6><a (click)="redirectToCompany()" style="cursor:pointer;">{{agent?.company}}</a></h6>
                <h6>email: <span>{{agent?.email}}</span></h6>
                <h6>phone: <span>{{agent?.phone}}</span></h6>
              </div>
            </div>
            <div class="col-lg-7">
              <h3>Kontaktujte ma</h3>
              <app-contact-form></app-contact-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="inzeraty mt-5 pb-5 bg-light">
  <div class="container">
    <div class="heading">
      <h1>Maklérové inzeráty</h1>
      <app-property-slider *ngIf="show" [latestProperties]="properties"></app-property-slider>
      <div *ngIf="!show" style="height: 10rem;" class="text-center mt-4">
        <div  class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>

