<div class="mb-2">
  <nav class="navbar bg-dark navbar-expand-lg fixed-top" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">Bartrenil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
          <div class="navbar-toggler-inner"></div>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="login.html">Prihlásiť</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Pridať inzerát<i class="fas fa-house-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Vytvoriť spoločnosť<i class="fas fa-plus-circle"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
