<header id="detail-hero">
</header>
<section id="gallery">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center flex-column">
        <div class="col-lg-12 mx-auto">
          <img id="myimage" class="img-fluid" [src]='image'/>
        </div>

        <div class="mt-2 mb-5 mx-3 images">

          <img  src="https://source.unsplash.com/_TPTXZd9mOo/190x100">

          <img  src="https://source.unsplash.com/_TPTXZd9mOo/190x100">

          <img  src="https://source.unsplash.com/_TPTXZd9mOo/190x100">

          <img  src="https://source.unsplash.com/_TPTXZd9mOo/190x100">

          <img src="https://source.unsplash.com/_TPTXZd9mOo/190x100">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="box">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="font-weight-bold">{{getSubCategory()}}</h1>
              <span><i class="fas fa-map-marker-alt"></i>{{getAddress()}}, {{getObec()}}</span>
            </div>
            <div class="col-lg-4">
              <h1 class="font-weight-bold">{{getPrice()}} €</h1>
            </div>
          </div>

          <div class="info mt-3">
            <div class="row">
              <div class="col-lg-4">
                <h6>Typ: <span>{{getTransactionType()}}</span></h6>
              </div>
              <div class="col-lg-4">
                <h6>Rozloha: <span>{{getFloorArea()}} m2</span></h6>
              </div>
              <div class="col-lg-4">
                <h6>Cena za m2: <span>1500,16 €</span></h6>
              </div>
              <div class="col-lg-4">
                <h6>Kategória: <span>{{getCategory()}}</span></h6>
              </div>
            </div>
          </div>

          <h4 class="mt-3">Popis</h4>
          <p class="mt-3">
            {{getDescription()}}
          </p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="box">
          <h2 (click)="redirectToCompany()" style="cursor: pointer">{{getCompanyName()}}</h2>
          <h6><a href="agent.html">{{getSeller()}}</a></h6>
          <h6>tel. číslo: <span>0918 566 576</span></h6>
          <h6>email: <span>{{getEmail()}}</span></h6>
        </div>
      </div>


    </div>
  </div>
</section>

<main class="inzeraty">

  <div class="container">
    <div class="heading">
      <h1>Posledné pridané inzeráty</h1>
    </div>
    <app-property-slider *ngIf="show" [latestProperties]="latestProperties"></app-property-slider>
    <div *ngIf="!show" style="height: 10rem;" class="text-center mt-4">
      <div  class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>
</main>
