<header id="hero" class="mt-4 ">
  <div class="masthead container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="mt-5 search-form">
          <h3>Vyhľadávanie</h3>
          <form action="" method="" class="mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="form-group mb-2">
                  <label>Kraj</label>
                  <select  class="form-control mt-2">
                    <option selected>Kraj</option>
                    <option>Trenčianský kraj</option>
                    <option>Prešovský kraj</option>
                    <option>Bratislavský kraj</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Okres</label>
                  <select  class="form-control mt-2">
                    <option selected>Okres</option>
                    <option>Trenčín</option>
                    <option>Ilava</option>
                    <option>Bardejov</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Obec</label>
                  <select  class="form-control mt-2">
                    <option selected>Obec</option>
                    <option>Trenčín</option>
                    <option>Horná súča</option>
                    <option>Ilava</option>
                    <option>Bardejov</option>
                    <option>Kurimka</option>
                    <option>Kochanovce</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Typ transakcie</label>
                  <select  class="form-control mt-2">
                    <option selected>Typ transakcie</option>
                    <option>Predaj</option>
                    <option>Prenájom</option>
                    <option>Kúpa</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Kategória</label>
                  <select  class="form-control mt-2">
                    <option selected>Kategória</option>
                    <option>Domy</option>
                    <option>Byty</option>
                    <option>Apartmány</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Podkategórie</label>
                  <select  class="form-control mt-2">
                    <option selected>Podkategórie</option>
                    <option>Chaty a chalupy</option>
                    <option>Záhradky</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Cena od</label>
                  <input type="number" min="0" class="form-control mt-2" placeholder="Cena od">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group mb-2">
                  <label>Cena do</label>
                  <input type="number" min="0" class="form-control mt-2" placeholder="Cena do">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary form-control">Vyhľadať <i class="fas fa-search ml-2"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="inzeraty">

    <div class="container">
      <div class="heading">
        <h1>Posledné pridané inzeráty</h1>
      </div>
      <app-property-slider></app-property-slider>
    </div>

</main>
