<header id="hero">
  <section id="search">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="mt-5 search-form">
            <h3>Vyhľadávanie</h3>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
              <div class="row">
                <div class="col-lg-4 col-md-12">
                  <div class="form-group mb-2">
                    <label>Kraj</label>
                    <select  class="form-control mt-2" (change)="setRegions($event.target)" formControlName="county">
                      <option value="" selected disabled hidden>Kraj</option>
                      <option *ngFor="let county of counties" value="{{county.stringId}}">
                        {{county.title}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group mb-2">
                    <label>Okres</label>
                    <select  class="form-control mt-2" (change)="setCities($event.target)" formControlName="region">
                      <option value="" selected disabled hidden>Okres</option>
                      <option *ngFor="let region of regions | keyvalue" value="{{region.key}}">
                        {{region.value}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group mb-2">
                    <label>Obec</label>
                    <select  class="form-control mt-2" formControlName="city">
                      <option value="" selected disabled hidden>Obec</option>
                      <option *ngFor="let city of cities | keyvalue" value="{{city.key}}">
                        {{city.value}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#filters"
                      aria-controls="filters" aria-expanded="false" aria-label="Toggle navigation">
                Zobraziť ostatné filtre
              </button>
              <div class="collapse" id="filters">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group mb-2">
                      <label>Typ transakcie</label>
                      <select  class="form-control mt-2" formControlName="transaction">
                        <option value="" selected disabled hidden>Typ transakcie</option>
                        <option *ngFor="let type of types" value="{{type.stringId}}">
                          {{type.title}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-2">
                      <label>Kategória</label>
                      <select  class="form-control mt-2"  formControlName="category" (change)="setSubCategories($event.target)">
                        <option value="" selected disabled hidden>Kategória</option>
                        <option *ngFor="let cat of categories" value="{{cat.stringId}}">
                          {{cat.title}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-2">
                      <label>Podkategórie</label>
                      <select  class="form-control mt-2" formControlName="subcategory">
                        <option value="" selected disabled hidden>Podkategória</option>
                        <option *ngFor="let sub of subcategories | keyvalue" value="{{sub.key}}">
                          {{sub.value}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-2">
                      <label>Cena od</label>
                      <input type="number" min="0" formControlName="priceFrom" class="form-control mt-2" placeholder="Cena od">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group mb-2">
                      <label>Cena do</label>
                      <input type="number" min="0"  formControlName="priceTo" class="form-control mt-2" placeholder="Cena do">
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary form-control">Vyhľadať <i class="fas fa-search ml-2"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>

<main class="inzeraty">

    <div class="container">
      <div class="heading">
        <h1>Posledné pridané inzeráty</h1>
      </div>
      <app-property-slider *ngIf="latestProperties.length" [latestProperties]="latestProperties"></app-property-slider>
    </div>
</main>


