<header id="detail-hero">
</header>
<section id="company">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="box">
          <h1>{{getName()}}</h1>
          <h3>Popis</h3>
          <div class="row mt-4">
            <div class="col-lg-8">
              <p>
                {{getDescription()}}
              </p>
            </div>
            <div class="col-lg-4">
              <h6>Adresa: <span>{{getAddress()}}</span></h6>
              <h6>DIČ: <span>{{getDic()}}</span></h6>
              <h6>IČO: <span>{{getIco()}}</span></h6>
              <h6>URL: <span><a>{{getUrl()}}</a></span></h6>
              <h6>Konateľ spoločnosti: <span>{{getCompanyOwner()}}</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="agents" class="bg-light mt-5 pb-5">
  <div class="container">
    <div class="heading">
      <h1>Makléri</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-3" *ngFor="let realtor of realtors | keyvalue">
        <div class="box">
          <div class="row">
            <div class="col-lg-3 col-xs-3">
              <img src="https://source.unsplash.com/mW3I5zmyaUc/100x100" class="img-fluid rounded-circle">
            </div>
            <div class="col-lg-9 col-xs-9">
              <h3><a (click)="redirectAgent(realtor.value.toString())" style="cursor: pointer;">{{parseRealtor(realtor.value.toString(), 0)}}</a></h3>
              <h6>tel. číslo: <span>{{parseRealtor(realtor.value.toString(), 1)}}</span></h6>
              <h6>email: <span>{{parseRealtor(realtor.value.toString(), 2)}}</span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
